/*主內容*/
.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    float: right;
    width: calc(100% - $sidebar-width);
    min-height: 100%;

    .content {
        padding: 30px 15px;
        min-height: calc(100% - 123px);
    }
}
