.navbar {
    border: $none;
    font-size: $font-size-navbar;
    border-radius: 0;
    min-height: 50px;
    max-height: 61px;
    background-color: $white-navbar;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);


    .nav-item {
        .nav-link:hover,
        .nav-link:focus {
            color: $new-dark-blue;
        }
    }
}
